/*=========================================MAIN=========================================*/
.header{
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 10;

    @media (max-width: 768px) {
        background-image: none !important;
        background-color: #ED2024;
    }


    &__inner{
        display: flex;
        align-items: center;
        position: relative;

        @media (max-width: 768px) {
           padding: 25px 0;
        }

        @media (max-width: 576px) {
            padding: 10px 0;
        }
    }

    &__logo{
        margin-right: 20px;
        @media (max-width: 768px) {
            max-width: 60px;
        }

        @media (max-width: 576px) {
            max-width: 60px;
        }
    }

    &__image{
        margin-right: 15px;
        @media (max-width: 768px) {
            width: 350px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-right: 0;
        }

        @media (max-width: 576px) {
            width: 200px;
        }
    }

    &__logos{
        @media (max-width: 768px) {
            display: block;
        }
    }

    &__data{
        font-family: 'Roboto';
        color: #ED2024;
        padding: 22px 24px;
        font-weight: 700;
        font-size: 33px;
        line-height: 1.2;
        background-color: white;
        border-radius: 60px;
        margin-right: 45px;
        transition: all .3s;

        &:hover{
            opacity: 0.9;
        }

        @media (max-width: 1240px) {
            font-size: 24px;
            margin-right: 25px;
            padding: 18px 20px;
        }

        @media (max-width: 920px) {
            font-size: 18px;
            margin-right: 25px;
            padding: 18px 20px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    } 

    &__image{
        margin-bottom: -50px;
    }

    &__right{
        display: flex;
        align-items: center;
    }
}
/*======================================================================================*/


/*=========================================MENU=========================================*/
.header__menu{
    background: rgba(0,0,0,.6);
    border: 3px solid #6d6e6f;
    mix-blend-mode: normal;
    border-radius: 20px;
    width: 450px;
    padding: 124px 39px 35px 39px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    position: absolute;
    right: 0;
    top: 95px;
    z-index: 20;
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .4s;
    transition: all .4s;

    @media only screen and (max-width: 920px) {
        top: 60px;
    }

    @media only screen and (max-width: 768px) {
        top: 40px;
    }

    @media only screen and (max-width: 576px) {
        top: 25px;
        right: 0;
        width: 350px;
        padding: 100px 39px 100px 39px;
    }

    @media only screen and (min-width: 280px) and (max-width: 425px) {
        top: 25px;
        right: 5px;
        width: 270px;
    }
    
    &-img{
        position: absolute;
        top: 5px;
        right: 13px;
    }

    &-item{
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            background-color: #ffd60b;
            left: -20px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            border-radius: 50%;
        }
    }

    &-link{
        font-family: "PT Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: #fff;
        display: inline-block;
    }

    &-item + .header__menu-item {
        margin-top: 20px;
    }
}

.header__menu.opened{
    z-index: 110;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
/*======================================================================================*/


/*========================================CONTENT=======================================*/

/*======================================================================================*/