/*=========================================MAIN=========================================*/
.header{
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 10;

    @media (max-width: 768px) {
        background-image: none !important;
        background-color: #ED2024;
    }


    &__inner{
        display: flex;
        align-items: center;
        position: relative;

        @media (max-width: 768px) {
           padding: 25px 0;
        }

        @media (max-width: 576px) {
            padding: 10px 0;
        }
    }

    &__logo{
        margin-right: 20px;
        @media (max-width: 768px) {
            max-width: 60px;
        }

        @media (max-width: 576px) {
            max-width: 60px;
        }
    }

    &__image{
        margin-right: 15px;
        @media (max-width: 768px) {
            width: 350px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-right: 0;
        }

        @media (max-width: 576px) {
            width: 200px;
        }
    }

    &__logos{
        @media (max-width: 768px) {
            display: block;
        }
    }

    &__data{
        font-family: 'Roboto';
        color: #ED2024;
        padding: 22px 24px;
        font-weight: 700;
        font-size: 33px;
        line-height: 1.2;
        background-color: white;
        border-radius: 60px;
        margin-right: 45px;
        transition: all .3s;

        &:hover{
            opacity: 0.9;
        }

        @media (max-width: 1240px) {
            font-size: 24px;
            margin-right: 25px;
            padding: 18px 20px;
        }

        @media (max-width: 920px) {
            font-size: 18px;
            margin-right: 25px;
            padding: 18px 20px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    } 

    &__image{
        margin-bottom: -50px;
    }

    &__right{
        display: flex;
        align-items: center;
    }
}
/*======================================================================================*/


/*=========================================MENU=========================================*/

/*======================================================================================*/


/*========================================CONTENT=======================================*/

/*======================================================================================*/