/*======================================FONT FACES======================================*/
@font-face{
    font-family: 'Roboto';
    src: 
        url('../fonts/roboto-bold.woff2') format('woff2');
    font-weight: 700;
}
/*======================================================================================*/