/*======================================FONT FACES======================================*/
@font-face{
    font-family: 'Roboto';
    src: 
        url('../fonts/roboto-bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face{
    font-family: 'Comfortaa';
    src: 
        url('../../fonts/comfortaa-semiBold.woff2') format('woff2');
    font-weight: 700;
}

@font-face{
    font-family: 'PT Sans';
    src: 
        url('../../fonts/pt-sans-bold.woff2') format('woff2');
    font-weight: 700;
}
/*======================================================================================*/